.main{
    width: 100%;
    height: 100vh;
    position: relative;
}
.pic{
    height: 500px;
    width: 700px;
    background: url("../../images/image-interactive.1d330522.jpg");
    position: absolute;
    left: 170px;
    top: 170px;
}
.write{
    height: 300px;
    width: 600px;
    justify-content: center;
    position: absolute;
    right: 350px;
    bottom: 0;
    z-index: 2;
    background-color: white;
}
.write h2{
    padding: 60px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 300;
}
.write p{
    padding: 60px;
    padding-top: 0;
    color: grey
}